<img src="assets/educba.webp" alt="educba logo">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div style="display: flex; flex-direction: column;" formGroupName="fullNameForm">
    <h4 class="required-label">Full Name</h4>
    <div style="display: flex; justify-content: space-between;">
      <div style="flex: 1; margin-right: 30px;">

        <input id="firstname" formControlName="firstName" style="width: 100%;">
        <label for="firstname">First Name</label>
        <div *ngIf="form.get('fullNameForm')?.get('firstName')?.touched && form.get('fullNameForm')?.get('firstName')?.invalid" class="text-danger">
          First name is required.
        </div>
      </div>
      <div style="flex: 1; margin-left: 10px;">

        <input id="lastname" formControlName="lastName" style="width: 100%;">
        <label for="lastname">Last Name</label>
        <div *ngIf="form.get('fullNameForm')?.get('lastName')?.touched && form.get('fullNameForm')?.get('lastName')?.invalid" class="text-danger">
          Last name is required.
        </div>
      </div>
    </div>
  </div>

  <div formGroupName="addressForm" style="display: flex; flex-direction: column;">
    <h4 class="required-label">Address</h4>
    <input id="streetaddress" formControlName="streetAddress" style="width: 100%;">
    <label for="streetaddress">Street Address</label>
    <div *ngIf="form.get('addressForm')?.get('streetAddress')?.touched && form.get('addressForm')?.get('streetAddress')?.invalid" class="text-danger">
      Street address is required.
    </div>

    <input id="streetaddressadditional" formControlName="streetAddressAdditional" style="width: 100%;">
    <label for="streetaddressadditional">Street Address Line 2</label>

    <div style="display: flex; justify-content: space-between;">
      <div style="flex: 1; margin-right: 30px;">

        <input id="city" formControlName="city" style="width: 100%;">
        <label for="city">City</label>
        <div *ngIf="form.get('addressForm')?.get('city')?.touched && form.get('addressForm')?.get('city')?.invalid" class="text-danger">
          City is required.
        </div>
      </div>
      <div style="flex: 1; margin-left: 10px;">

        <input id="state" formControlName="state" style="width: 100%;">
        <label for="state">State / Province</label>
        <div *ngIf="form.get('addressForm')?.get('state')?.touched && form.get('addressForm')?.get('state')?.invalid" class="text-danger">
          State / Province is required.
        </div>
      </div>
    </div>


    <input id="postalcode" formControlName="postalCode" style="width: 100%;">
    <label for="postalcode">Postal / Zip Code</label>
    <div *ngIf="form.get('addressForm')?.get('postalCode')?.touched && form.get('addressForm')?.get('postalCode')?.invalid" class="text-danger">
      <div *ngIf="form.get('addressForm')?.get('postalCode')?.errors?.['required']">Postal code is required.</div>
      <div *ngIf="form.get('addressForm')?.get('postalCode')?.errors?.['pattern']">Postal code is invalid.</div>
    </div>
  </div>

  <div style="width: calc(50% - 20px)">
    <h4 class="required-label" for="email">Phone Number</h4>
    <input id="phonenumber" placeholder="(000) 000-0000" formControlName="phoneNumber" style="width: 100%;">
    <div *ngIf="form.get('phoneNumber')?.touched && form.get('phoneNumber')?.invalid" class="text-danger">
      <div *ngIf="form.get('phoneNumber')?.errors?.['required']">Phone number is required.</div>
      <div *ngIf="form.get('phoneNumber')?.errors?.['pattern']">Phone number is invalid.</div>
    </div>
  </div>

  <div style="width: calc(50% - 20px)">
    <h4 for="email">E-mail</h4>
    <input id="email" placeholder="ex: example@example.com" formControlName="email" style="width: 100%;">
    <div class="text-danger" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
      <div *ngIf="form.get('email')?.errors?.['required']">Email is required.</div>
      <div *ngIf="form.get('email')?.errors?.['email']">Enter a valid email address.</div>
    </div>
  </div>
  <hr>

  <button type="submit">Submit</button>
</form>
